@{
    ViewBag.Title = "User Documentation";
}

<h1>Пользовательская документация</h1>

<p>Это веб-приложение предназначено для управления корзиной покупок. С помощью этого приложения вы можете:</p>

<ul>
    <li>Просматривать товары.</li>
    <li>Добавлять товары в корзину.</li>
    <li>Оформлять заказ.</li>
    <li>Просматривать историю заказов.</li>
</ul>

<h3>Как добавить товар в корзину?</h3>
<p>Перейдите на страницу товара и нажмите кнопку "Добавить в корзину".</p>

<h3>Как оформить заказ?</h3>
<p>Перейдите на страницу корзины и нажмите кнопку "Оформить заказ".</p>